{% extends "base.html" %}
{% block title %}
    Login
{% endblock %}
{% block content %}

<style>
    body {
        font-family: Arial, sans-serif;
        background-color: #f5f5f5;
        text-align: center;
    }

    h3 {
        font-size: 24px;
        color: #333;
        margin-top: 20px;
    }

    form {
        width: 400px;
        margin: 0 auto;
        background-color: #fff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-size: 16px;
        color: #333;
        margin-bottom: 5px;
    }

    input[type="email"],
    input[type="password"] {
        width: 100%;
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #ccc;
        border-radius: 3px;
    }

    button {
        background-color: #333;
        color: #fff;
        border: none;
        padding: 10px 20px;
        font-size: 18px;
        border-radius: 3px;
        cursor: pointer;
    }

    button:hover {
        background-color: #555;
    }
</style>

<form method="POST">
    <h3>Login</h3>
    <div class="form-group">
        <label for="email">Email Address</label>
        <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter email"
        />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
            type="password"
            class="form-control"
            id="password"
            name="password"
            placeholder="Enter password"
        />
    </div>
    <br />
    <button type="submit" class="btn btn-dark">Login</button>
</form>

{% endblock %}
