Flask==2.2.3
Flask-Login==0.6.2
Flask-SQLAlchemy==3.0.3
Jinja2==3.1.2
SQLAlchemy==2.0.18
Werkzeug==2.3.6
db==0.1.1
click==8.1.4
itsdangerous==2.1.2
six==1.16.0

pip==23.1.2
setuptools==68.0.0
wheel


requests~=2.28.2
